@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #e5e5e5;
}

/* .desktop-links {
  display: none;
} */

#navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 25px;
  background-color: #fff;
}

.logo {
  text-transform: capitalize;
  width: 76px;
  height: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.logo:hover {
  transform: translateY(10px);
  transition: 0.5s;
}

.cover-mobile{
  display: flex;
  position: absolute;
  background-color: #6070ff;
  opacity: 0.8;
  height: 100vh;
  width: 100%;
  top: 0;
  right: 0;
}
.cover-mobile ul {
  margin-top: 70px;
}

.cover-mobile li {
  margin-left: 40px;
  text-align: center;
  transition: transform 0.5s;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  padding: 10px;
  color: #fff;
}

.cover-mobile ul li:hover {
  transform: translateY(-6px);
} 

.hide {
  display: none;
}



